{:webly {:ns-cljs [demo.app
                   demo.page.main
                   ]
         :routes  {:app  {""        demo.page.main/page-main
                          "test"    demo.page.promise/page-test
                          }
                   

}
         
         }} 
