{:paths ["src"
         "target/node_modules"  ; css png resources from npm modules 
         ]
 :deps {org.pinkgorilla/ui-bidi {:local/root "../ui-bidi" :deps/manifest :deps}
        org.pinkgorilla/ui-tailwind {:mvn/version "0.0.5"}
        
        }
 :aliases
 {
  :webly {:extra-deps {org.pinkgorilla/webly {:mvn/version "0.4.631"
                                              :exclusions  [org.pinkgorilla/ui-bidi]}}
          :extra-paths ["src" "resources"]
          :exec-fn webly.app.app/webly-build
          :exec-args {:config ["webly/config.edn"
                               "demo.edn"] 
                      :profile "npm-install"}}
  :npm-install {:exec-args {:profile "npm-install"}}
  :compile {:exec-args {:profile "compile2"}}

  :jetty {:exec-fn modular.system/start!
          :exec-args {:profile "jetty"
                      :services "services.edn"}}

  

  ;
  }}
