{:name "ui-bidi"
 ; build
 :lazy false
 :cljs-namespace [frontend.routes
                  frontend.routes.events
                  frontend.page
                  frontend.page.viewer
                  goldly.page.page]
 :cljs-ns-bindings {'ui.bidi {'start-router! frontend.routes/start-router!
                              'nav! frontend.routes/nav!
                              'goto! frontend.routes/goto!
                              'hard-redirect! frontend.routes/hard-redirect!
                              'link frontend.routes/link
                              'add-page frontend.page/add-page
                              ;'reagent-page frontend.page/reagent-page
                              'page-viewer frontend.page.viewer/page-viewer
                              'refresh-page frontend.page.viewer/refresh-page
                              'page-resolver frontend.page/page-resolver
                              'set-resolver! frontend.page/set-resolver!
                              }
                    'goldly.page {'available frontend.page/available-pages
                                  ;'show goldly.page.page/show-page
                                  'add goldly.page.page/add-page}
                    'goldly.nav {'nav frontend.routes/goto!
                                 'current-route frontend.routes/current-route}

                    }}
